* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: futura-pt,sans-serif;
  font-style: normal;
}

body {

}

h1 {
  font-weight: 700;
  font-size: 5em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

h5 {
  font-weight: 400;
  font-size: 1em;
}

.mainContainer {
  width: 100%;
  height: 100vh;
}

.mainContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* background-image: url("LandingVideo.mp4"); */

}

.overlay {
  margin-top: 1em;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay img {
  width: 70vmin;
}

.overlay h2 {
  margin-top: .15em;
  background-color: #F08703;
  padding: .5em;
  padding-left: .8em;
  padding-right: .8em;
  border-radius: 1.5em;
}

.arrow {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow img {
  color: white;
  width: 2em;
  filter: invert();
}

.interestForm {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  padding-top: 5em;
}


/* ---------footer--------- */
.footer {
  background-color: #034F2D;
  padding-top: 1em;
  font-size: 1em;
  padding-bottom: 1em;
}

.footer img {
  width: 4em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
